/*
#21759b	(33,117,155)
#d54e21	(213,78,33)
#464646	(70,70,70)
#f7f7f7	(247,247,247)
#ffffff	(255,255,255)
	font-family: 'Roboto Condensed', sans-serif;
*/

section > img {
	width: 100%;
}

/*____Head Shot Section Styles______*/

#head_shot {
	padding: 30px 0px 30px 30px;
	width: 50%;
}

#head_shot > img {
	width: 30%;
	border-radius: 100%;
	margin-right: 20px;
	margin-top: 20px;
}

#bio {
	display: inline-block;
	vertical-align: top;
	padding-top: 30px;
}

#bio > h3 {
	margin: 0px;
}

#bio > p {
	padding: 5px 0px 5px 0px;
	font-size: 0.8em;
	margin: 0px 0px 0px 0px;
	line-height: 1px;
}

/*____Where I am From Section Styles______*/

#where {
	background-color: #d54e21;
	margin-bottom: 80px;
}

#where > img {
	width: 70%;
	margin-bottom: -4px;
}	

#from {
	padding: 30px 20px 30px 20px;
	color: #ffffff;
	display: inline-block;
	width: 25%;
	line-height: 1.5em;
	float: right;
}

/*____Education Experience Section Styles______*/

#education {
margin-bottom: 80px;
}

#schooling {
	padding-left: 30px;
	width: 25%;
	display: inline-block;
	margin-bottom: 50px;
}

#school_chronology {
	display: inline-block;
	width: 70%;
	vertical-align: top;
}

#school_tile {
	display: inline-block;
	width: 24%;
	text-align: center;
	padding-top: 35px;
}

#school_image {
	height: 85px;
}

/*____HOBBIES STYLE SECTION_______*/

#hobbies {
	width: 100%;
}

#bake {
	width: 100%;
	margin-bottom: 80px;
	height: 300px;
}

#interests {
	padding: 0px 20px 0px 20px;
	display: inline-block;
	width: 25%;
	line-height: 1.5em;
	float: right;
	text-align: top;
}

#hobby_tiles {
	display: inline-block;
	width: 70%;
}

#hobby_tiles > img {
	display: inline-block;
	height: 220px;
	width: 31%;
	padding-left: 2%;
}



/*____Something Quirky Styles______*/

#quirky {
	background-color: #21759b;
	margin-bottom: 80px;
	height: 100%;
	display: inline-block;
}

#quirky_from {
	padding: 30px 20px 30px 20px;
	color: #ffffff;
	width: 25%;
	line-height: 1.5em;
	height: 100%;
}

#quirky > img {
	width: 70%;
	display: inline-block;
	float: right;
	vertical-align: top;
}	






