.blog {
	display: inline-block;
	margin: 20px 0px 10px 45px;
	width: 75%;
}

main {
	margin: 60px 10% 60px 10%;
	padding: 40px;
	background-color: #bfbfa6;
}

#latest {
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
	width: 35%;
	text-align: center;
}

#featured {
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
	width: 35%;
	text-align: center;
}

#center {
	width: 100%;
	text-align: center;
}

#blogs > li {
	list-style: disc;
	padding: 5px;
}

aside {
	padding-bottom: 220px;
	margin-bottom: 20px;
}