

main {
	margin: 60px 10% 60px 10%;
	padding: 40px;
	background-color: #bfbfa6;
}

#html {
	background-color: black;
	color: white;
	padding: 5px 15px 5px 15px;
	font-family: times	;
	line-height: 35px;
}

#left {
	display: inline-block;
	width: 68%;
}

#right {
	display: inline-block;
	float: right;
	width: 29%;
	padding-top: 20px;
}

#blog-tile {
	display: inline-block;
	vertical-align: bottom;
	width: 30%;
	text-align: center;
	margin-right: 20px;
}

#blog-tile > h3 > a:link {
	text-decoration: none;
	padding: 5px 15px 5px 15px;
	border-radius: 30px;
	background-color: #21759b;
}

#blog-tile > h3 > a:visited {
	color: #ffffff;
}


#blog-image {
	width: 75%;
}

#center {
	width: 100%;
	text-align: center;
}

#blogs > li {
	list-style: disc;
	padding: 5px;
}

aside {
	padding-bottom: 220px;
	margin-bottom: 20px;
}

#small {
	font-size: 12px;
}

#blog-footer {
	position: static;
	height: 50px;
	background-color: #f7f7f7;
}