/*
#21759b	(33,117,155)
#d54e21	(213,78,33)
#464646	(70,70,70)
#f7f7f7	(247,247,247)
#ffffff	(255,255,255)
	font-family: 'Roboto Condensed', sans-serif;
*/

* {
	font-family: 'Varela Round', sans-serif; 
}

header {
	height: 100%;
	margin-bottom: 10px;
	background-color: #21759b;
}

#Profile_pic {
	width: 100%;
}

#location {
	display: inline-block;
	font-size: 3em;
	color: #ffffff;
	padding: 5px 10px 5px 10px;
}

nav {
	display: inline-block;
	float: right;
	font-size: 100%;
	text-align: center;
	margin-top: 5px;
}

nav > ul > li  {
	display: inline-block;
	width: 80px;
	margin: 3px;
	padding: 2px;
}

nav > ul > li > a {
	text-decoration: none;
	color: #ffffff;
}


aside {
	display: inline-block;
	width: 15%;
	margin-top: 10px;
	vertical-align: top;
	padding-right: 8px;
	border-right: double black 6px;
	padding-bottom: 5%;
}

aside > ul {
	padding: 0px 0px 0px 3px;
}


aside > ul > li  {
	list-style: none;
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin-right: 2%;
	}

#blog {
	margin: 10px 1% 20px 1%;
	display: inline-block;
	width: 80%;
}

form {
	padding: 5px 5px 5px 20px;
	width: 22%;
	display: inline-block;
	vertical-align: top;
}

#home_spread {
	width: 85%;
	display: inline-block;
	margin-left: 18%;
}

#contact_spread {
	width: 57%;
	display: inline-block;
	float: right;
}	


#title {
	display: inline-block;
	width: 30%;
	margin-left: 10%
}

#topic {
	font-size: 2em;
	text-align: right;
	padding: 2px;
}

#text {
	font-size: 85%;
	text-align: right;
	padding: 2px;
}

#main {
	width: 58%;
	border: solid gray 2px;
	display: inline-block;
	vertical-align: top;
}

#form {
	display: inline-block;
	vertical-align: top;
	width: 60%;
	padding: 10px 10px 10px 10px;
	margin: 0px;
}

#scene {
	display: inline-block;
	width: 21%;
	float: right;
}

#dynamo {
	width: 100%;
}

#responsive {
	text-align: right;
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin-bottom: 0px;
	background-color: #f7f7f7;
	color: black;
}


#Bread_crumbs {
	position: static;
	display: inline-block;
	margin-left: 20px;
	float: left;
	color: #ffffff;
}

#Bread_crumbs > a:visited {
	color: black;
}
#Copyright {
	position: static;
	display: inline-block;
	margin-right: 20px;
	float: right;
	color: black;
}