/* Header formatting starts here */

body {
	font-family: sans-serif;
}
header {
	height: 60px;
	display: inline-block;
	width: 100%;
	border-bottom: 2px solid black;

}

.Location {
	position: relative;
	font-size: 4em;
	float: left;
	margin-left: 20px;
	margin-top: -8px;
}

nav {
	position: relative;
	display: inline;
	float: right;
	margin-right: 30px;
	font-size: 1.25em;
	text-align: center;
}

nav > ul > li  {
	color: black;
	display: inline-block;
	padding: 1px 0px 1px 0px;
	width: 100px;
	margin: 3px;
	margin-right: 12px;
	border: 2px black solid;
	border-radius: 4px;
}

nav > ul > li > a {
	text-decoration: none;
	color: black;
}

/* Main formatting starts here */

.Main {
	position: relative;
}


aside {
	display: inline-block;
	position: absolute;
	margin-top: 25px;
	width: 17%;
	height: 90%;
	border-right: double black 5px;
	padding-right: 5px;
}

.Social_nav {
	position: relative;
	list-style-type: none;
	margin-left: -40px;
}

.Social_nav > li {
	position: relative;
	display: inline-block;
	padding: 0px;
	margin-right: 6%;
}



.Blog_title {
	width: 18%;
	display: inline-block;
	position: absolute;
	left: 420px;
	top: 15px;
	padding: 0px 1px 0px 1px;
	text-align: right;
	margin: 0px;
}

.Blog_title > #Title {
	font-size: 1.5em;
	margin-bottom: 0px;
}

.Blog_title > #Small {
	font-size: 0.75em;
}

.Main_content {
	width: 45%;
	display: inline-block;
	position: relative;
	margin-top: 25px;
	left: 650px;
	top: 0px;
	border: black solid 2px;
	text-align: right;
}

#Responsive {
	text-align: right;
}


/* Footer formatting starts here */

footer {
	height: 30px;
	margin-bottom: 0px;	
	border: black 10px solid black;
	border-top: black solid 2px;
	clear: both;
}

#Bread_crumbs {
	position: relative;
	margin-left: 20px;
	float: left;
	display: inline-block;
}

#Copyright {
	position: relative;
	margin-right: 20px;
	float: right;
	display: inline-block;
}